####################################
### Server Configuration
####################################
.github/*.md
.env

####################################
### Debug
####################################
/target
