####################################
### Server Configuration
####################################
.github
.env

####################################
### Debug
####################################
/target
