####################################
### Server Configuration
####################################
.env
/data

####################################
### Debug
####################################
/target
