[[authentication]]
name = "example-authentication"
backend = "heralding"
auth = ["user:password"]

[[rules]]
name = "example-rule"
backend = "cowrie2"
regex = ["(?i)^id$"]
keywords = ["whoami"]
auth = ["user:password"]

[[command]]
name = "example-command"
backend = "cowrie2"
regex = ["(?i)^uname(?:\\s+-[a-z]+)?$"]
keywords = ["whoami"]
